.display-container {
  min-width: min(400px, 100vw);
  max-width: 400px;
  aspect-ratio: 16/9;
  background-color: #282c34;
  position: relative;
}

/* .container {
  width: %;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.input-item {
  position: absolute;
  width: 20vw;
  max-width: 50px;
  padding: 0px;
  margin: 0px;
}

.input-item.side.start {
  top: 30%;
}
.input-item.side.end {
  bottom: 30%;
}
.input-item.left {
  left: 0px;
}
.input-item.right {
  right: 0px;
}

.input-item.vertical.start {
  left: 30%;
}
.input-item.vertical.end {
  right: 30%;
}
.input-item.top {
  top: 0px;
}
.input-item.bottom {
  bottom: 0px;
}
