:root {
  --primary-background: #07030e;
  --primary-accent: #ece5ec;
  --secondary-accent: #f71735;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
  color: inherit;
  padding: 0px;
  margin: 0px;
  font-family: Montserrat, sans-serif;
  /* font-optical-sizing: auto; */
}

.basic-color {
  color: var(--primary-accent);
}

/* ------------- background ------------- */
.background-container {
  position: fixed;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-background);
}

.background-item {
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: left 0.8s ease, top 0.8s ease;
}

.background-cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: color-mix(
    in srgb,
    var(--primary-background) 30%,
    transparent
  );
  backdrop-filter: blur(250px);
  z-index: 1;
}

@media (max-width: 900px) {
  .background-cover {
    backdrop-filter: blur(180px);
  }
}
@media (max-width: 420px) {
  .background-cover {
    backdrop-filter: blur(160px);
  }
}

/* ------------- Card ------------- */
.card-container {
  position: relative;
  width: 200px;
  flex-shrink: 0;
  aspect-ratio: 13/19;
  gap: 0px;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(79, 87, 137, 0.55) 0%,
    rgba(5, 16, 86, 0.55) 106.78%
  );
  cursor: pointer;
}

.card-icon {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-text {
  font-size: 25px;
  text-align: center;
  font-weight: 400;
  position: absolute;
  bottom: 35px;
  width: calc(100% - 40px);
  padding: 0px 20px;
  word-wrap: break-word;
}

/* ------------- Transition Containers ------------- */

.transition-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.transition-element {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  transition: top 0.8s ease, left 0.6s ease-in-out;
}

.back-nav {
  position: fixed;
  left: 25px;
  top: 25px;
  font-size: 40px;
  opacity: 0;
  transition: opacity 0.4s;
  cursor: default;
}

.back-nav.opened {
  cursor: pointer;
  opacity: 1;
  z-index: 1;
}

@media (max-width: 900px) {
  .back-nav {
    left: 10px;
    top: 10px;
    font-size: 30px;
  }
}

/* ------------- Animations Page ------------- */
.animations-page {
  height: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 40px;
}

@media (max-width: 900px) {
  .animations-page {
    height: calc(100% - 40%);
    padding-top: 40%;
    justify-content: flex-start;
  }
}

/* ------------- Devices Page ------------- */
.devices-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 200px);
  gap: 20px;
  width: 100%;
}

.devices-container {
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
  gap: 30px;
}

.devices-container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 900px) {
  .devices-page > h1 {
    width: 100%;
    text-align: center;
  }
  .devices-container {
    padding: 0px calc((100vw - 200px) / 2);
  }
}

/* ------------- Nav ------------- */

.body-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.nav-container {
  position: fixed;
  left: 0px;
  height: 100vh;
  width: 150px;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
  z-index: 1;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  aspect-ratio: 1/1;
  background-color: color-mix(in srgb, var(--secondary-accent) 0%, transparent);
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.nav-item.selected {
  background-color: var(--secondary-accent);
}

.position-item-container {
  width: calc(100vw - 250px);
  height: 100vh;
  padding-left: 250px;
}

@media (max-width: 900px) {
  .body-container {
    padding-left: 0px;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .position-item-container {
    width: 100vw;
    height: calc(100vh - 80px);
    padding-left: 0px;
    padding-bottom: 80px;
  }
  .nav-container {
    width: 100vw;
    height: 80px;
    flex-direction: row;
    gap: 80px;
    bottom: 0px;
    padding: 0px;
  }
  .nav-item {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 420px) {
  .nav-container {
    width: 100vw;
    height: 80px;
    flex-direction: row;
    gap: 20px;
    bottom: 0px;
    padding: 0px;
  }
}

/* ------------- ------------- */

/* ------------- Device Settings ------------- */
.device-settings-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding-top: 80px;
}

.device-settings-item {
  font-size: 30px;
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #ece5ec00;
  stroke: var(--primary-accent);
  fill: var(--primary-accent);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: background-color 0.3s, stroke 0.3s, fill 0.3s, box-shadow 0.3s,
    color 0.3s;
}

.device-settings-item:hover {
  color: var(--primary-background);
  background-color: #ece5ecff;
  /* background: linear-gradient(91deg, #ece5ecff -5.01%, #dcddecff 104.47%); */
  box-shadow: 0px 4px 30.1px 10px rgba(0, 0, 0, 0.25);
  stroke: var(--primary-background);
  fill: var(--primary-background);
}

.device-settings-icon-title {
  display: flex;
}

.device-settings-icon-container {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.device-settings-value {
  font-weight: 300;
  font-size: 24px;
}

.device-settings-title {
  font-size: 30px;
  font-weight: 700;
  margin: 20px 0px;
}

@media (max-width: 900px) {
  .device-settings-item {
    width: 80%;
    font-size: 26px;
    gap: 20px;
  }
  .device-settings-icon-container {
    width: 25px;
    padding: 0px 10px;
  }
  .device-settings-title {
    margin: 15px 0px;
  }
  .device-settings-value {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .device-settings-item {
    width: calc(100% - 10px);
    font-size: 25px;
    gap: 40px;
  }
  .device-settings-value {
    font-size: 18px;
  }
}

/* ------------- Select Menu ------------- */
.select-menu-container {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 130px);
  overflow-y: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-top: 50px;
}

.select-menu-container::-webkit-scrollbar {
  display: none;
}

.select-menu-item {
  font-size: 30px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #ece5ec00;
  stroke: var(--primary-accent);
  fill: var(--primary-accent);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: background-color 0.3s, stroke 0.3s, fill 0.3s, box-shadow 0.3s,
    color 0.3s;
}

.select-menu-item.selected {
  color: var(--primary-background);
  background-color: #ece5ecff;
  /* background: linear-gradient(91deg, #ece5ecff -5.01%, #dcddecff 104.47%); */
  box-shadow: 0px 4px 30.1px 10px rgba(0, 0, 0, 0.25);
  stroke: var(--primary-background);
  fill: var(--primary-background);
}

@media (max-width: 900px) {
  .select-menu-item {
    width: 80%;
  }
  .select-menu-container {
  }
}

/* ------------- Input Textbox ------------- */
.input-textbox {
  border-radius: 5px;
  background: var(--primary-accent);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25) inset;
  border: none;
  outline: none;
  width: calc(100% - 20px);
  font-size: 30px;
  height: 55px;
  padding: 0px 10px;
}
.input-textbox::placeholder {
  color: rgba(7, 3, 14, 0.5);
  font-family: Montserrat;
  font-size: 30px;
}

/* ------------- New Device Page ------------- */
.new-device-container {
  width: 100%;
  height: calc(100vh - 160px);
  overflow-y: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  padding: 80px 0px;
}

.new-device-container::-webkit-scrollbar {
  display: none;
}

.new-device-button-container {
  width: 50%;
}

.new-device-list {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  /* overflow-y: scroll; */
}

@media (max-width: 900px) {
  .new-device-container {
    height: calc(100vh - 220px);
    margin-top: 50px;
    padding-top: 0px;
  }
  .new-device-list {
    width: 80%;
  }
  .new-device-button-container {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .new-device-list {
    width: 95%;
  }
  .new-device-button-container {
    width: 80%;
  }
}

/* ------------- Regular Container ------------- */

.regular-container {
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  padding-top: 80px;
}

.regular-item-list {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

@media (max-width: 900px) {
  .regular-item-list {
    width: 80%;
  }
}

/* ------------- My Button ------------- */

.my-button-container {
  border-radius: 5px;
  background-color: var(--primary-accent);
  width: calc(100% - 20px);
  color: var(--primary-background);
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(91deg, #ece5ec -5.01%, #dcddec 104.47%); */
  font-size: 30px;
  box-shadow: 0px 4px 30.1px 10px rgba(0, 0, 0, 0.25);
  padding: 10px;
  cursor: pointer;
}

.my-button-container.disabled {
  background-color: color-mix(
    in srgb,
    var(--primary-accent) 75%,
    var(--primary-background)
  );
  color: color-mix(
    in srgb,
    var(--primary-background) 75%,
    var(--primary-accent)
  );
}

/* ------------- configure ------------- */

.configure-tv {
  border-radius: 3px;
  border: 10px solid #1b1525;
  background-color: #000;
  width: 100%;
  aspect-ratio: 16/9;
  max-width: 700px;
}
.config-tv-input-container {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

/* ------------- ------------- */

.display-container {
  min-width: min(400px, 100vw);
  max-width: 400px;
  aspect-ratio: 16/9;
  background-color: #282c34;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .container {
  width: %;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.input-item {
  position: absolute;
  width: 20vw;
  max-width: 50px;
  padding: 0px;
  margin: 0px;
}

.input-item.side.start {
  top: 30%;
}
.input-item.side.end {
  bottom: 30%;
}
.input-item.left {
  left: 0px;
}
.input-item.right {
  right: 0px;
}

.input-item.vertical.start {
  left: 30%;
}
.input-item.vertical.end {
  right: 30%;
}
.input-item.top {
  top: 0px;
}
.input-item.bottom {
  bottom: 0px;
}

/* Modal */

.modal-container {
  /* position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%; */
  background-color: var(--primary-background);
  border-radius: 10px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: 1px solid var(--primary-accent);
}

.modal-position-container {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: fit-content;
  height: fit-content;
  z-index: 12;
}

.modal-sizing {
  min-width: 200px;
  max-width: calc(100vw - 12px);
  min-height: 140px;
  max-height: 100vh;
  width: fit-content;
  height: fit-content;
}

.modal-title {
  max-width: calc(100% - 30px);
  flex-wrap: wrap;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 20px;
  font-weight: 500;
}

.modal-close {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  z-index: 5;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-accent);
  border-radius: 3px 3px 3px 3px;
}

.new-project-modal-container {
  min-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
}

@media (max-width: 420px) {
  .modal-sizing {
    font-size: 20px;
    width: calc(100vw - 10px);
    max-width: calc(100vw - 10px);
    height: 100vh;
  }
  .modal-position-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(100vw - 10px);
    height: 100vh;
    transform: translate(0, 0);
  }
  .modal-container {
    border-radius: 0px;
    border: 0px solid var(--primary-background);
  }
  .new-project-modal-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    min-width: 200px;
  }
}

/* ------- mapping --------- */
.mappings-container {
  display: flex;
  flex-direction: column;
}

.mappings-item-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* this one has an s */
.mappings-item {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 5px;
}
/* no s in this mapping */
.mapping-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin: 0px 20px;
}
.mappings-inputs-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 500px) {
  .mappings-inputs-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

/* text input box menus */
.input-menu {
  width: calc(50%);
}

@media (max-width: 900px) {
  .input-menu {
    width: 80%;
  }
  .mappings-container {
    gap: 30px;
  }
}

/* delete button */
.delete-button {
  background-color: var(--secondary-accent);
  color: var(--primary-accent);
}

.delete-modal-container {
  min-width: 400px;
}

.delete-flex-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.delete-text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--primary-accent);
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-text-container:nth-child(1) {
  margin-bottom: 40px;
  font-size: 20px;
}

@media (max-width: 500px) {
  .delete-modal-container {
    min-width: 200px;
  }
}

/* --------- drag and drop --------- */
.drag-n-drop-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 3px;
}

.file-section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 400px;
  overflow-y: scroll;
  gap: 3px;
  scrollbar-width: 0px;
}

.file-section-container::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.file-section-container::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
.file-section-container::-webkit-scrollbar-thumb {
  display: none;
}

.drop-section-container {
  border: 1px dashed var(--primary-accent);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  flex-wrap: wrap;
}

.drop-section-dragging {
  border: 1px solid var(--primary-accent);
  /* background-color: var(--light-accent); */
}

.drag-n-drop-label {
  border: none;
  background-color: none;
  color: var(--primary-accent);
}

.drag-n-drop-input {
  display: none;
}

.file-container {
  padding: 5px;
  font-size: 12px;
  border-radius: 10px;
  /* background-color: var(--secondary-accent); */
  display: flex;
  flex-direction: column;
  width: calc(100% - 12px);
}

.file-container.error {
  border: 1px solid var(--secondary-accent);
}

.file-container.success {
  border: 1px solid var(--primary-accent);
}

.file-info-container {
  display: flex;
  height: auto;
  gap: 10px;
}

.file-info-seperator {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.file-info-seperator-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: space-between;
  padding: 2px 0px;
}

.file-info-text {
  color: var(--accent-text);
  font-size: 10px;
}

.file-upload-progress-container {
  display: flex;
  justify-content: start;
  width: 100%;
}

.file-upload-progress {
  background-color: var(--primary-accent);
  height: 3px;
  border-radius: 5px;
  transition: width 0.5s, height 0.5s ease-in 0.5s;
}

.pointer-cursor {
  cursor: pointer;
}
